/* * {
    font-family: Arial, sans-serif;
} */

/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  height: fit-content;
  max-height: 100vh;
  min-width: 350px;
  max-width: 500px;
  margin: 0;
} */

:root {
    --dgreen: #2f8033;
}

.organic-translator {
    /* applies to every element in the extension */
    font-family: Arial, sans-serif !important;
    color: black !important;
    background-color: white;
    z-index: 1;
    flex-shrink: 0;
}

#my-extension-container {
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 300px;
    height: fit-content;
    max-height: 100vh;
    overflow: scroll;
}

#translator-container {
    border: black solid 1px;
    background-color: white;
    padding: 5%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(213, 148, 148, 0.2);
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 400px;
    max-height: 100vh;
    width: 90%;
    overflow: scroll;
    padding-bottom: 5%;
    /* width: 400px;
    height: 400px;
    text-align: center;
    justify-content: center;
    align-items: center; */
}

#title {
    text-align: center;
    color: var(--dgreen) !important;
    font-weight: bold;
    margin: 1%;
    min-height: 30px;
}

.text-box {
    min-height: 25px;
    height: fit-content;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    resize: none;
    margin: 0;
}

#input {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    min-height: 25px;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

#label {
    min-height: 20px;
    display: block;
    font-size: 16px;
    text-align: left;
    margin-bottom: 5px;
}

#input-textholder {}

#translate-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: var(--dgreen);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#translate-button:hover {
    background-color: var(--dgreen) !important;
}

#output {
    display: block;
    margin-top: 10px;
    width: 100%;
    min-height: 100px;
    height: fit-content;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

#output-textholder {
    height: fit-content;
}

.clickable-text {
    cursor: pointer;
    color: var(--dgreen) !important;
    margin: 10px 0;
    font-size: 16px;
}

.clickable-text:hover {
    color: var(--dgreen) !important;
    text-decoration: underline;
}

#culture-explanation,
#nuance-explanation {
    display: none;
    /* Initially hidden */
    text-align: left;
    margin-top: 10px;
    height: fit-content;
}

.collapsible {
    margin: 1%;
    border: solid var(--dgreen);
    border-radius: 5px;
    background: var(--dgreen);
    align-items: center !important;
    display: flex;
    flex-direction: column;
}

.collapsible-content {
    width: 100%;
    display: none;
    overflow: hidden;
    font: 14px serif;
    line-height: 150%;
    /* border-radius: 5px; */
    /* background-color: transparent; */
    /* margin: 2px 5px 2px 15px; */
}

/* Style the button to look like a plain text */
.collapsible-button {
    background-color: inherit;
    color: #ffffff !important;
    border: none;
    font-weight: bold !important;
    padding: 0;
    font: inherit;
    font-size: 16px !important;
    cursor: pointer;
    outline: inherit;
}

.collapsible-text {
    width: 100%;
    position: flex;
    z-index: -1 !important;
}

.active .collapsible-button.collapsible + .collapsible {
    background: var(--dgreen);
}
